ultralytics
rembg==2.0.56
addict==2.4.0
future==1.0.0
lmdb==1.4.1
numpy==1.26.4
opencv-python==4.9.0.80
pyyaml==6.0.1
scikit-image==0.22.0
scipy==1.12.0
tb-nightly==2.17.0a20240327
torch==2.2.2
# torchvision==0.17.2
yapf==0.40.2
lpips==0.1.4
gdown # supports downloading the large file from Google Drive
basicsr==1.4.2